body {
    color: rgb(243, 101, 149);
    background: rgb(249, 246, 246);
    margin: 0px;
    font-family: "Merriweather", serif;
    margin-bottom: 100px;
}


header {
    border-bottom: solid 2px rgb(247, 148, 239);
    padding: 20px;
    font-size: 32px;
    color: rgb(243, 55, 162);
}

.chamada {
    background: rgb(246, 164, 246);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid red;
}